.recipe {
  background-color: $color-grad-1;

  ///////////
  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    // transform: scale(1.04) translateY(-1px);
    transform-origin: top;

    &::before {
      content: '';
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;

      opacity: 0.4;
    }
  }

  &__img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 20%) skewY(-6deg);
    color: white;
    font-weight: 700;
    font-size: 3.25rem;
    text-transform: uppercase;
    width: 50%;
    line-height: 1.95;
    text-align: center;

    span {
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
      background-color:#000000;
      border: 2px solid #ffffff;
    }

  }

  ///////////
  // DETAILS
  &__details {
    display: flex;
    align-items: center;
    padding: 7.5rem 8rem 3.5rem 8rem;
  }

  &__info {
    font-size: 1.65rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    height: 2.35rem;
    width: 2.35rem;
    fill: $color-primary;
    margin-right: 1.15rem;
  }

  &__info-data {
    margin-right: 0.5rem;
    font-weight: 700;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%);

    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 10rem;

    margin-left: auto;
    margin-right: 1.75rem;

    svg {
      height: 2.25rem;
      width: 2.25rem;
      fill: $color-primary;
    }
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    padding: 5rem 8rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__ingredient-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 3rem;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: $color-primary;
    margin-right: 1.1rem;
    flex: 0 0 auto;
    margin-top: 0.1rem;
  }

  &__quantity {
    margin-right: 0.5rem;
    flex: 0 0 auto;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    padding: 5rem 10rem;
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__directions-text {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 3.5rem;
    color: #000000;
  }

  &__publisher {
    font-weight: 700;
  }
}




/* Apply these styles for smaller screens */

  @media only screen and (max-width: 767px) {
    .recipe {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
 /* Adjust as needed */

      &__fig {
        /* Other styles */
        height: auto; /* Let the height adjust based on content */
      }

      &__title {
        position: absolute;
        bottom: 0;
        transform: translate(-50%, 20%) skewY(-6deg);
        color: white;
        font-weight: 700;
        font-size: 20px;
        text-transform: uppercase;
        width: 100%;
        line-height: 1.95;
        text-align: center;
      }

      &__details {
        /* Adjust as needed */
        display: flex;
        flex-direction: column; /* Display items vertically on mobile */
        align-items: center;
      }

      &__info {
        font-size: 1rem;
        text-transform: uppercase;
        display: flex;
        align-items: center;
      }

      &__user-generated {
     margin-left: 0; /* Reset margin */
     margin-right: 0; /* Reset margin */
     margin-top: 1.75rem;
     margin-bottom: 1.75rem;


        svg {
          height: 1rem;
          width: 1rem;
          fill: $color-primary;
        }
      }

      &__ingredients {
        /* Other styles */
        padding: 2rem;
        width: 100% /* Adjust as needed */
      }

      .recipe__directions-text{
        font-size: 18px;
      }

      .recipe__directions {
        padding: 20px;
      }


    }




  }
